<mat-toolbar color="primary" class="breadcrumb-toolbar">
  <a class="toolbar-parent-link" [routerLink]="['../../']">{{model.databaseTitle$ | async}}</a>
  <mat-icon>chevron_right</mat-icon>
  <span>{{tableName}}</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="databaseMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #databaseMenu="matMenu">
    <ng-template matMenuContent>
      <a mat-menu-item [routerLink]="['../../query/', 'SELECT * FROM ' + tableName]">
        <mat-icon>edit</mat-icon>
        <span>Custom query</span>
      </a>
      <button mat-menu-item (click)="onViewSql(tableName)">
        <mat-icon>visibility</mat-icon>
        <span>View SQL</span>
      </button>
    </ng-template>
  </mat-menu>
</mat-toolbar>
<div class="basic-container">
  <app-query-data [queryModel]="model"></app-query-data>
</div>
