<div class="basic-container">
  <div class="uri-input">
    <form novalidate (ngSubmit)="submitUri(uri)">
      <mat-form-field hideRequiredMarker>
        <mat-label>Content provider URI</mat-label>
        <input matInput placeholder="content://..." name="uri" [(ngModel)]="uri.content" required>
      </mat-form-field>

      <button mat-raised-button type="submit" class="btn btn-primary" [disabled]="uri.isEmpty()">Display</button>
    </form>
  </div>

  <router-outlet></router-outlet>
</div>
