.full-width-table {
  width: 100%;
}

.spinner-container {
  position: fixed;
  /* Center alignment */
  height: 10%;
  width: 10%;
  top: 45%;
  left: 45%;
  /* Must be on top of fixed columns */
  z-index: 101;
}

tr.highlightable-row:hover {
  background: #eee;
  cursor: pointer;
}
