.full-width-table {
  min-width: 100%;
}

mat-cell, .mat-cell {
  padding-right: 24px;
}

.spinner-container {
  position: fixed;
  /* Center alignment */
  height: 10%;
  width: 10%;
  top: 45%;
  left: 45%;
  /* Must be on top of fixed columns */
  z-index: 101;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
