<div *ngIf="loading$ | async" class="spinner-container">
  <mat-spinner color="accent"></mat-spinner>
</div>

<div *ngIf="error$ | async" class="alert alert-danger" role="alert">
  <p>{{error$ | async}}</p>
</div>

<div [hidden]="!showTable" class="mat-elevation-z8">
  <table [dataSource]="dataSource" class="full-width-table" mat-table matSort>
    <ng-container *ngFor="let disCol of dataSource.columnNames$ | async; let colIndex = index"
                  matColumnDef="{{disCol}}">
      <th *matHeaderCellDef [disabled]="disableSorting" mat-header-cell mat-sort-header>{{disCol}}</th>
      <td *matCellDef="let element " mat-cell>{{element[colIndex]}}</td>
    </ng-container>

    <tr *matHeaderRowDef="dataSource.columnNames$ | async; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let row; columns: dataSource.columnNames$ | async;" mat-row></tr>
  </table>

  <mat-paginator [length]="dataSource.rowCount$ | async"
                 [pageIndex]="0"
                 [pageSizeOptions]="[25, 50, 100, 250]"
                 [pageSize]="defaultPageSize"
                 showFirstLastButtons>
  </mat-paginator>
</div>
