<mat-toolbar color="primary" class="mat-elevation-z8">
  <a mat-button routerLink="/">Androscope</a>
  <a mat-button routerLink="/provider">Content Providers</a>
  <!--  <a mat-button routerLink="/databases">Databases</a>-->
  <button mat-button [matMenuTriggerFor]="fileExplorerMenu">File Explorer
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #fileExplorerMenu="matMenu">
    <ng-template matMenuContent>
      <a mat-menu-item routerLink="/file-explorer/application-data">Application Data</a>
      <a mat-menu-item routerLink="/file-explorer/external-storage">External Storage</a>
      <a mat-menu-item routerLink="/file-explorer/phone-root">System</a>
      <mat-divider></mat-divider>
      <a mat-menu-item routerLink="/file-explorer/downloads">Downloads</a>
      <a mat-menu-item routerLink="/file-explorer/photos">Photos</a>
      <a mat-menu-item routerLink="/file-explorer/movies">Movies</a>
      <a mat-menu-item routerLink="/file-explorer/pictures">Pictures</a>
      <a mat-menu-item routerLink="/file-explorer/music">Music</a>
    </ng-template>
  </mat-menu>
  <!--  <a mat-button>Image cache</a>-->
</mat-toolbar>
