<mat-toolbar color="primary" class="mat-elevation-z8">
  <a mat-button routerLink="/">Androscope</a>
  <a mat-button routerLink="/provider">Content Providers</a>
  <a mat-button routerLink="/databases">Databases</a>
  <button mat-button [matMenuTriggerFor]="fileExplorerMenu">File Explorer<mat-icon>arrow_drop_down</mat-icon></button>
  <mat-menu #fileExplorerMenu="matMenu">
    <button mat-menu-item>Application Data</button>
    <button mat-menu-item>External Storage</button>
    <button mat-menu-item>Root Directory</button>
    <mat-divider></mat-divider>
    <button mat-menu-item>Downloads</button>
    <button mat-menu-item>Photos</button>
    <button mat-menu-item>Movies</button>
    <button mat-menu-item>Pictures</button>
    <button mat-menu-item>Music</button>
  </mat-menu>
  <a mat-button>Image cache</a>
</mat-toolbar>
