<h1 mat-dialog-title>Confirmation</h1>
<div mat-dialog-content>
  <p>Are you sure you want to delete {{getEntryType()}} <b>{{getEntryName()}}</b>?</p>
  <div class="alert alert-danger" *ngIf="($error | async) != null" style="color: red">
    <p>Failed to perform delete request:</p>
    <p>{{$error | async}}</p>
  </div>
</div>
<div align="end" mat-dialog-actions>
  <button cdkFocusInitial mat-button mat-dialog-close>Cancel</button>
  <button #deleteButton (click)="onDeleteClick()" mat-button>Delete</button>
</div>
