<mat-toolbar class="breadcrumb-toolbar" color="primary">
  <a [routerLink]="['../']" class="toolbar-parent-link">{{model.databaseTitle$ | async}}</a>
  <mat-icon>chevron_right</mat-icon>
  <span>Custom query</span>
</mat-toolbar>

<div class="basic-container">
  <div class="query-input">
    <form (ngSubmit)="submitQuery(query)" novalidate>
      <mat-form-field appearance="fill" class="full-width-table" hideRequiredMarker>
        <mat-label>SQL query</mat-label>
        <textarea #sqlInput (keydown)="onTextKeyDown($event)" [(ngModel)]="query" matInput
                  name="query" placeholder="SELECT, INSERT, UPDATE, DELETE, CREATE..."
                  required></textarea>
      </mat-form-field>

      <button [disabled]="query != null && query.length == 0" class="btn btn-primary" mat-raised-button type="submit">
        Submit
      </button>
      <mat-hint style="margin-left: 16px">You can also press Ctrl+Enter to submit the query</mat-hint>
    </form>
  </div>

  <div *ngIf="(queryStatus$ | async).display; else queryData">
    <div [ngClass]="(queryStatus$ | async).alertClass" class="alert"
         role="alert">
      <p>{{(queryStatus$ | async).message}}</p>
    </div>
  </div>
  <ng-template #queryData>
    <router-outlet></router-outlet>
  </ng-template>
</div>
