.dashboard-card {
  float: left;
  width: auto;
  height: auto;
  margin: 16px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
