<div>
  <mat-card class="dashboard-card">
    <mat-card-title>Databases</mat-card-title>
    <mat-card-subtitle>Returned by Context.databaseList() and configured in application manifest</mat-card-subtitle>
    <mat-card-content>
      <app-database-list></app-database-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">I don't see my database</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="dashboard-card">
    <mat-card-title>Image cache</mat-card-title>
    <mat-card-subtitle>Picasso, Glide, Coil or configured in application manifest</mat-card-subtitle>
    <mat-card-content>
      <app-image-cache-list></app-image-cache-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">I don't see my image cache</button>
    </mat-card-actions>
  </mat-card>
</div>
