tr:nth-child(even) {
    background-color: #f2f2f2
}

.zebra tr:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.zebra {
     width: 100%;
}

.zebraborder {
    border: 1px solid #000000;
    padding: 10px;
     width: 70%;
     margin-left:2%;
     margin-right:28%;
}

.zebra img {
    display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
}