<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.ngti.androscope">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <activity
            android:name=".AndroscopeActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize"
            android:icon="@mipmap/androscope_ic_launcher"
            android:label="@string/androscope_activity_label"
            android:launchMode="singleInstance"
            android:process="@string/androscope_process"
            android:taskAffinity="${applicationId}.nl.ngti.androscope">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".AndroscopeContentProvider"
            android:authorities="${applicationId}.androscope"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.AndroscopeService"
            android:exported="false"
            android:process="@string/androscope_process" />
    </application>

</manifest>
