<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="nl.ngti.debugwebserver">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:label="@string/app_name">
        <activity
            android:name=".DebugWebServerActivity"
            android:allowTaskReparenting="true"
            android:clearTaskOnLaunch="true"
            android:label="@string/androscope_activity_label"
            android:launchMode="singleInstance"
            android:process=":androscope"
            android:taskAffinity="${applicationId}.nl.ngti.androscope">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>