<h1 mat-dialog-title>View SQL of «{{data.name}}»</h1>
<div mat-dialog-content class="view-sql-content">
  <mat-spinner *ngIf="(loading$ | async); else sqlText"></mat-spinner>
  <ng-template #sqlText>
    <mat-form-field appearance="outline" class="full-size">
      <textarea matInput [ngModel]="sql$ | async"></textarea>
    </mat-form-field>
  </ng-template>
</div>
<div align="end" mat-dialog-actions>
  <button [cdkCopyToClipboard]="sql$ | async" mat-button cdkFocusInitial>Copy to clipboard</button>
  <button mat-button mat-dialog-close>Close</button>
</div>
